* {
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#close-btn {
  float: right;
  color: lightgray;
  font-size: 28px;
  font-weight: 900;
}

#close-btn:hover {
  color: rgb(87, 87, 87);
  cursor: default;
}

form {    
  position: absolute;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 740px;
  width: 498px;
  padding: 1em;
}