* {
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

form { 
  position: absolute;
  background-color: white;
  text-align: center;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: 23em;
  width: 30em;
  padding: 1em;
  border: none;
}

header {
  margin-bottom: 20px;
}

#close-btn {
  float: right;
  color: lightgray;
  font-size: 28px;
  font-weight: 900;
}

#close-btn:hover {
  color: rgb(87, 87, 87);
  cursor: default;
}
input[type=text] {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(110, 110, 110, 0.1);
  border-radius: 10px;
  width: 50%;
}