* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(222, 230, 233);
  text-align: center;
}

h1 {
  background-color: rgb(68, 68, 68);
  color: white;
  width: 100%;
  padding: 30px 0px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 48px;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

#add-btn {
  color: white;
  background-color: lightslategray;
  padding: 20px 30px;
  font-size: 24px;
  transition: 0.3s;
}

#add-btn:hover {
  background-color: rgb(51, 52, 53);
}

.del-btn, .read-on, .read-off {
  font-size: 18px;
  width: 250px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: 0.3s;
  border-radius: 5px;
}

.del-btn {
  background-color: rgb(182, 65, 65);
  color: white;
}

.del-btn:hover {
  background-color: darkred;
}

.read-on {
  background-color: rgb(155, 204, 155);
}

.read-on:hover {
  background-color: rgb(111, 156, 111);
}

.read-off {
  background-color:rgb(228, 208, 208);
}

.read-off:hover {
  background-color: rgb(190, 170, 170)
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

form { 
  position: absolute;
  background-color: white;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: 500px;
  width: 300px;
}

fieldset {
  border: none;
  margin-top: 50px;
}

legend {
  margin: 0 auto;
}

#submit-btn {
  color: white;
  background-color: rgb(94, 94, 197);
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#close-btn {
  float: right;
  margin-right: 0.5rem;
  color: lightgray;
  font-size: 28px;
  font-weight: 900;
}

#close-btn:hover {
  color: rgb(101, 110, 119);
  cursor: default;
}

input[type=text], input[type=number] {
  padding: 15px;
  margin: 15px 0;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(110, 110, 110, 0.1);
  border-radius: 10px;
  width: 75%;
}

button[type=submit] {
  margin-top: 30px;
}

#card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px 50px;
}

.book-card {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  min-height: 300px;
  min-width: 400px;
  margin: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}